.title {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	display: block;
}

.title:focus {
	outline: none;
}

.line-number {
	padding-right: 10px;
	text-align: end;
	font-size: 11px;
	width: 12px;
}

.line input {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 1px solid #cccccc;
	border-bottom-style: none;
	width: calc(100% - 15px);
	border-top-style: none;
	min-width: 180px;
	padding: 3px 4px;
	font-size: 15px;
}

.line input:focus {
	outline: none;
}

.line:first-child input {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-style: solid;
}

.line:last-child input {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-style: solid;
}

.selected {
	box-shadow: 2px 3px 1px 1px #0095FF;
}

.panel {
	box-shadow: 3px 1px 1px rgba(0, 0, 0, 0.5);
	border: 1px solid transparent;
	background-color: white;
	margin-bottom: 15px;
	border-radius: 4px;
}

.panel-default {
	border-color: #ddd;
}

.panel-heading {
	border: none;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background-color: #f5f5f5;
	width: calc(100% - 30px);
	box-sizing: content-box;
	border-color: #ddd;
	padding: 6px 15px;
	color: #333;
}

.panel-body {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 0 20px;
	padding: 15px;
}

.line {
	position: relative;
	width: 100%;
}

.line .hint {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	white-space: pre-wrap;
	pointer-events: none;
	position: absolute;
	padding: 4px 5px;
	font-size: 15px;
	opacity: 0.5;
	top: -1px;
	left: 0;
}

.line:first-child .hint {
	top: 0;
}

.simple {
	border: 1px solid #ccc;
	background-color: #fff;
	width: calc(50% - 2px);
	display: inline-block;
	outline: 0 !important;
	text-align: center;
	border-radius: 4px;
	line-height: 1.43;
	padding: 6px 12px;
	user-select: none;
	font-weight: 400;
	margin-bottom: 0;
	font-size: 14px;
	cursor: pointer;
	color: #333;
}

.simple:hover {
	background-color: #e6e6e6;
	border-color: #adadad;
	text-decoration: none;
	color: #333;
}

.simple:active {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	background-color: #e6e6e6;
	border-color: #adadad;
	color: #333;
}

.simple:focus {
	outline: 5px auto -webkit-focus-ring-color;
	background-color: #e6e6e6;
	border-color: #adadad;
	text-decoration: none;
	outline-offset: -2px;
	color: #333;
}

.style {
	position: relative;
}

.close {
	background: transparent;
	cursor: pointer;
	outline: none;
	border: none;
}

.close::before {
	content: '\2718';
}

.close:focus, .close:active {
	outline: none;
}

.top-right {
	position: absolute;
	right: 5px;
	top: 0px;
}

.visible-on-hover::before {
	visibility: hidden;
	position: relative;
	left: -5px;
}

.line:hover .visible-on-hover::before {
	visibility: visible;
}

.line .close {
	position: absolute;
	left: -28px;
}

.lock {
	overflow: hidden;
	height: 1px;
}

#container {
	vertical-align: top;
	width: 320px;
}


#export, #import, #toggle-debug {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	text-rendering: auto;
	font-size: inherit;
	position: fixed;
	height: 20px;
	opacity: 0.2;
	width: 20px;
	padding: 0;
	margin: 0;
	top: 0;
}

#export {
	right: 0px;
}

#import {
	right: 25px;
}

#toggle-debug {
	right: 50px;
}

#export:hover, #import:hover, #toggle-debug:hover {
	opacity: 1;
}

#export>svg, #import>svg {
	width: 0.875em;
}

#selector, #selector:focus, #selector:hover {
	box-shadow: none;
	cursor: default;
	outline: none;
	border: none;
}